# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
OPENAI_API_KEY="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"
PORT="3000"
VITE_API_URL=http://localhost:3000
